<div class="row">
    <div class="col-auto">
        <h2>Welcome</h2>
        <h3>Your Dashboard</h3>
    </div>
</div>

{{#if blogs.length}}
<div class="col-md-6 project-list">
    {{#each blogs as |blog|}}
    <div class="row blog">
        <div class="blog-header">
            <a href="/blog/{{blog.id}}">
                <div class="blog-title col-md-5">
                    <h4 class="title-container">
                        <span class="blog-title-content">{{blog.title}}</span>
                        <span class="blog-creator">Posted by
                            {{blog.user.userName}}
                            on
                            {{format_date blog.date_created}}
                        </span>
                    </h4>
                </div>
        </div>
        <div class="col-md-7 blog-container">
            <p>
                {{blog.content}}
            </p>
        </div>
        </a>
    </div>
    {{/each}}
</div>
{{/if}}

<div>
    <a href="/newBlog">
        <button id="new-blog">
            Enter New Blog
        </button>
    </a>
</div>