<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
        <h3>Your Dashboard</h3>
    </div>
</div>

{{#if blogs.length}}
    <div class="col-md-6 project-list">

        {{#each blogs as |blog|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h2><a href="/blog/{{blog.id}}">{{blog.title}}
                            <br />
                            {{blog.user_id}}</a></h2>
                    <h4>{{blog.content}}</h4>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<div>
    <button id="new-blog">
        Enter New Blog
    </button>
</div>

<script src="../public/js/"></script>